*{
    margin: 0;
}
.nav-banner{
    height: 550vh;
    width: 100%;
    /* background-color: rgb(39, 39, 45); */
    z-index: -1;
}

.group-name{
    position: sticky;
    top: 110px;
    margin-top: -160px;
    left: 100px;
    z-index: 2;
    color: white;
    font-size: 80px;
    width: 250px;
    font-family: "Roboto";
    opacity: 0;
    
}
.project-desc{
    position: sticky;
    top: 110px;
    margin-top: -160px;
    left: 100px;
    z-index: 2;
    color: white;
    font-size: 80px;
    width: 250px;
    font-family: "Roboto";
    opacity: 0;
}
.project-name{
    position: sticky;
    top: 100px;
    left: 100px;
    z-index: 2;
    color: white;
    font-size: 70px;
    width: 250px;
    font-family: "Roboto";
    opacity: 0;
    
}
.proj-desc-p{
    position: relative;
    float: right;
    right: 150px;
    top: 200px;
    padding: 10px;
    font-size: 25px;
    text-align: justify;
    width: 50%;
    color: white;
    text-shadow: 10px 10px 10px black;
}
.visible{
    opacity: 100;
    animation-name: invis;
    animation-duration: 5s;
}

@keyframes invis {
    from {opacity: 0;}
    50% {opacity: 50;}
    to {opacity: 100;}
}

.logo{
    position: sticky;
    top: 0px;
    margin-top: -200px;
    left: 1350px;
    width: 150px;
    
}
.agar{
    z-index: 0;
    position: relative;
    top: -150px;
    left: 600px;
}
.agar-back{
    z-index: -1;
    color: white;
    top: -500px;
    left: 950px;
    position: relative;
    width: 10px;
}
/* ============================ GROUP SECTION ======================== */
.jo-container{
    position: relative;
    top: 400px;
    left: 600px;
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-top: 200px;

}
.jo-card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin-left: 100px;
    margin-top: 150px;
    height: 200px;
    background-color: rgb(89, 89, 97);
    box-shadow: -10px 10px 10px black;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
}
.jo-name{
    color: white;
    font-family: "Poppins";
}
.jo-role{
    color: white;
    font-family: "Poppins";
}

.jo-picture-card{
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.636);
}
.jo-img{
    height: 700px;
    width: 500px;
    margin-left: -70px;
    margin-top: -70px;
}
.jack-container{
    position: relative;
    top: 300px;
    left: 600px;
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-top: 200px;
}
.jack-card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin-top: 150px;
    margin-right: 100px;
    background-color: rgb(89, 89, 97);
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    padding-top: 20px;
}
.jack-picture-card{
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.636);
}
.jack-img{
    height: 600px;
    width: 700px;
    margin-left: -170px;
    margin-top: -70px;
}
.jack-name{
    color: white;
    font-family: "Poppins";
}
.jack-role{
    color: white;
    font-family: "Poppins";
}
.jack-desc{
    padding-top: 50px;
    color: white;
    text-align: center;
}
.ben-container{
    position: relative;
    top: 300px;
    left: 600px;
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-top: 200px;
}
.ben-img{
    height: 600px;
    width: 450px;
    margin-left: -100px;
    margin-top: -70px;
}

.koy-container{
    position: relative;
    top: 300px;
    left: 600px;
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-top: 200px;
}

.koy-img{
    height: 600px;
    width: 450px;
    margin-left: -80px;
    margin-top: -70px;
}